*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Header-Cointainer{
  display: flex;
  justify-content: space-between;
align-items: center;
width: 100%;
margin-bottom: 80%;
top:0px;
padding: 40px;
bottom: 0;
position: fixed;
height: 20px;
background-color: #ffffff;
}

.head-left img{
  height: 20px;
  margin-left: 140px;
  cursor: pointer;
}

.head-right{
  display: flex;
  gap: 60px;
   font-size: 16px;
margin-right: 140px;
cursor: pointer;

}
.head-right a{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
}


.head-right a:hover{

  color: #387Ed7;
}


.Menu {
  position: absolute;
  border: 1px solid rgb(255, 253, 253);
  border-radius: 4px;
-webkit-box-shadow: 0px -1px 18px 6px rgba(0,0,0,0.29); 
box-shadow: 0px -1px 18px 6px rgba(0,0,0,0.29);
  padding: 20px;
   top: 80px;
   right: 180px;
}

.Menu1{

  display: flex;
  gap: 80px;


}
.Menu1 p{

text-align: center;
position: relative;
margin: 10px 0;

}
.Menu1 img{
  height: 60px;
 margin-bottom: 10px;

}

.Menu2{

  display: flex;
  justify-content: space-between;
  padding: 12px;
text-align: left;
}


.box a{
  text-decoration: none;
  color: #666666;
  margin: 10px;
}

.box p{
  margin-top: 20px;
  margin-bottom: 20px;
 
}
#img2{
  margin-top: 60px;
}
.box img{
  margin: 10px;
}

.Menu2 a {
  margin-bottom: 10px;
text-align: left;
margin: 8px;
}